body {
    background: url("../img/bg-login.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 30%;
}

.card {
    margin-top: 20%;
}